.ServiceSingleBox {
  padding: 2rem;
  /* width: clamp(25rem, 25vw, 31vw); */
  width: clamp(25rem, 30rem, 35rem);
  height: 850px;
  min-height: 850px;
  display: inline-block;
  border-radius: 40%/ 10% 10%;
  background-color: rgb(238, 238, 238);
}
.ServiceSingleBox img {
  border-radius: 40%/ 10% 10%;
  width: 100%;
}
