.singleBox {
  background-color: rgb(250 250 250);
  padding: 2rem;
  width: 30rem;
  height: 880px;
  min-height: 880px;
  display: inline-block;
  border-radius: 40%/ 10% 10%;
}
.singleBox img {
  border-radius: 40%/ 10% 10%;
}
