.placeBox-formation div.headerText div {
  border-bottom: 1px solid;
  width: 20%;
  margin: auto;
  box-shadow: 0 0 5px 1px rgb(58, 59, 59);
  height: 1px;
}
.placeBox-formation h1 {
  margin-bottom: 1vw;
  text-align: center;
  font-size: 3vw;
}
.placeDisplayBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
